form label {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.txtArea{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn {
	border:1px solid black;
	text-align: right;
}

.costumeDataLi {
	margin-left: 20px;
}

.custCol {
	margin-left: 20%;
}

.errorMsg {
	color: red;
	text-align: center;
}

.badRegex {
	background-color: #ffcccc;

}
